@tailwind base;
@tailwind components;
@tailwind utilities;

html, body{
    overflow-x: hidden;
}

.z-2000{
    z-index: 2000;
}
.z-2001{
    z-index: 2001;
}



.scrollbar-hide::-webkit-scrollbar {
    display: none;
}

.scrollbar-hide{
scrollbar-width: none;
}

/* .no-scroll {
    overflow: hidden !important;
    
} */
.no-scroll {
    position: fixed;
    width: 100%;
    height: 100%;
    overflow: hidden !important;
    top: 0;
    left: 0;
}